* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Unbounded", sans-serif;
}
body {
    background-color: #f4ebdc;
}


body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #f4ebdc;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #5c2308;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #5c2308;  /* creates padding around scroll thumb */
  }



 /* HEADER PC ---------------------------------------------------------------------*/
#header {
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 100px;
    background-color: #5c2308;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#header img {
    height: 60px;
}
#header-menu {
    height: 100%;
    align-items: center;
    display: flex;
}
ul {
    list-style: none;
    display: flex;
}
ul li {
    margin-right: 15px;
    margin-left: 15px;
}
ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: #ee7700;
    transition: all ease 0.3s;
}
ul li a:hover {
    color: antiquewhite;
    

}

ul li a > svg path {
    
    fill: #ee7700;
    transition: all ease 0.3s;
}
ul li a:hover > svg path {
    fill: antiquewhite;
}
ul li a i {
    font-size: 30px;
}

#header-carrinho {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#header-carrinho button {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    background-color: #5c2308;
    border: none;
    cursor: pointer;
   
}
#header-carrinho button span{
    font-size: 1rem;
    font-weight: 800;
    color: #5c2308;
   background-color: antiquewhite;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
    border-radius: 25px;
    margin-bottom: -20px;
    text-decoration: none;
    transition: all ease 0.3s;
}
#header-carrinho button:hover > span {

    background-color:  #ee7700;
}

#header-carrinho button > svg path {
    
    fill: #ee7700;
    transition: all ease 0.3s;
}
#header-carrinho button:hover > svg path {
    fill: antiquewhite;
}



 /* HEADER MOBILE ---------------------------------------------------------------------*/

#header-menu-mobile {
    position: fixed;
    left: 0;
    top: 85px;
    height: 70px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: none;
    align-items: center;
  padding-left: 10px;
    background-color: #471803;
}
#header-menu-mobile a{
    box-shadow: scroll;
font-size: 0.7rem;
}
#header-menu-mobile::-webkit-scrollbar {
    width: 0px; 
    height: 0px;              /* width of the entire scrollbar */
  }
  
  #header-menu-mobile::-webkit-scrollbar-track {
    background: #ee7700;        /* color of the tracking area */
  }
  
  #header-menu-mobile::-webkit-scrollbar-thumb {
    background-color: #5c2308;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #5c2308;  /* creates padding around scroll thumb */
  }

 /* INICIO ---------------------------------------------------------------------*/
#inicio {
    margin-top: 100px;
    height: 70vh;
   background-image: url('/imagens/fundo.png');
   background-color: #471803;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
 /* CARDAPIO ---------------------------------------------------------------------*/
 #cardapio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
 }
#cardapio p{
    color: #ee7700;
    background-color: #471803;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    
    
}
/* HAMBURGUER ---------------------------------------------------------------------*/
#pastel,
#pizzas,
#hamburguer {
    padding: 5%;
    width: 100%;
    margin-top: 20px;
}
#pastel h1,
#pizzas h1,
#hamburguer h1{
    margin-left: 60px;
   color: #5c2308;
   font-size: 2.6rem;
}
.container-pastel,
.container-pizza,
.container-hamburguer {
    width: 100%;
    
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.pastel-seta-right,
.pastel-seta-left,
.pizza-seta-right,
.pizza-seta-left,
.hamburguer-seta-right,
.hamburguer-seta-left {
    height: 100%;
    width: 40px;
    background-color: #f4ebdc;
    display: flex;
    align-items: center;
}
.pastel-seta-right,
.pizza-seta-right,
.hamburguer-seta-right {
    justify-content: end;
}
.pastel-seta-right svg,
.pastel-seta-left svg,
.pizza-seta-right svg,
.pizza-seta-left svg,
.hamburguer-seta-right svg,
.hamburguer-seta-left svg {
    width: 40px;
}

.pastel-seta-left > svg path,
.pastel-seta-right > svg path,
.pizza-seta-left > svg path,
.pizza-seta-right > svg path,
.hamburguer-seta-right > svg path,
.hamburguer-seta-left > svg path {
    
    fill: #471803;
    transition: all ease 0.3s;
    cursor: pointer;
}
.pastel-seta-right svg:hover path,
.pastel-seta-left svg:hover path,
.pizza-seta-right svg:hover path,
.pizza-seta-left svg:hover path,
.hamburguer-seta-right svg:hover path,
.hamburguer-seta-left svg:hover path {
    fill: #ee7700;
}
.pastel-listarea,
.pizza-listarea,
.hamburguer-listarea {
    height: 100%;
    width: 100%;

    overflow: hidden;
}
.pastel-list,
.pizza-list,
.hamburguer-list {
    height: 100%;
    width: 3400px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
}
.pastel-list,
.pizza-list {
    width: 3740px;
}

.pastel-item, 
.pizza-item, 
.hamburguer-item {
    width: 300px;
    height: 350px;
    background-color: #471803;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40px;
}
.pastel-item-area1,
.pizza-item-area1,
.hamburguer-item-area1 {
    width: 100%;
    background-color: #5c2308;
    height: 45%;
    border-radius: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.pastel-item-area1 img,
.hamburguer-item-area1 img {
    height: 80%;
}

.pizza-item-area1 img {
    height: 230.5px;
    margin-top: -100px;
}
.pastel-item-area2,
.pizza-item-area2,
.hamburguer-item-area2 {
    width: 100%;
    padding: 1rem;
 
}
.pastel-item-area2 h2,
.pizza-item-area2 h2,
.hamburguer-item-area2 h2 {
    color: #ee7700;
    font-size: 1.3rem;
    line-height: 20px;
}
.pastel-item-area2 p,
.pizza-item-area2 p,
.hamburguer-item-area2 p{
    color: antiquewhite;
    font-size: 0.7rem;
    margin-top: 5px;
}
.pastel-item-area3,
.pizza-item-area3,
.hamburguer-item-area3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;  
}
.pastel-item-area3 h2,
.pizza-item-area3 h2,
.hamburguer-item-area3 h2 {
    color: #ee7700;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.pastel-item-area3 h2 span,
.pizza-item-area3 h2 span,
.hamburguer-item-area3 h2 span {
    font-size: 1rem;
}

.pastel-item-area3 .pastel-plus,
.pizza-item-area3 .pizza-plus,
.hamburguer-item-area3 .hamburguer-plus {
    border: 2px solid #f4ebdc;
    border-radius: 15px;
    padding: 0.8rem;
    margin-left: 30px;
    cursor: pointer;
    transition: all ease 0.3s;
} 

.pizza-item-area3 .pizza-plus {
    margin-left: 0;
}

.pastel-item-area3 .pastel-plus:hover,
.pizza-item-area3 .pizza-plus:hover,
.hamburguer-item-area3 .hamburguer-plus:hover {
    background-color: #f4ebdc;
}
.pastel-plus svg,
.pizza-plus svg,
.hamburguer-plus svg {
    fill: #f4ebdc;
}

.pastel-plus:hover > svg path,
.pizza-plus:hover > svg path,
.hamburguer-plus:hover > svg path {
    
    fill: #5c2308;
}

/* MODAL PRODUTO ---------------------------------------------------------------------*/
.produto-modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(92, 35, 8, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    
}
.show {
    display: flex;
}

@keyframes scale-in {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }}
.produto {
    transition: all ease 0.4s;
    max-width: 900px;
    background-color:#ee7700;
    border-radius:40px;
    box-shadow:0px 0px 15px #111;
    display:flex;
   -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        
}
.produto-img {
    height: 50vh;
    width: 250px;
    background-color: #f4ebdc;
    border-radius: 40px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produto-img img {
    width: 80%;
}
.produto-informacoes {
    height: 50vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.produto-informacoes-area1 {
    width: 100%;
    padding: 1rem 1.5rem;
    padding-top: 2.5rem;
}
.produto-informacoes-area1 h2 {
    color: #f4ebdc;
    font-size: 1.3rem;
}
.produto-informacoes-area1 p {
    color: #471803;
    font-weight: 500;
    font-size: 1rem;
}

.produto-informacoes-area2 {
    padding: 1rem 1.5rem;
    padding-top: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.produto-informacoes-area2 h3{
    color: #bf5900;
    font-size: 0.9rem;
}
.produto-informacoes-area2 h2 {
    color: #f4ebdc;
    font-weight: 500;
    font-size: 2rem;
}
.produto-quantidade {
    display: flex;
    align-items: center;
    border: 2px solid #f4ebdc;
    border-radius: 60px;
    overflow: hidden;
}
.produto-quantidade h3 {
    color: #f4ebdc;
    font-weight: 500;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.produto-quantidade button {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
.produto-quantidade button:hover {
    background-color: #5c2308;
}
.produto-quantidade button h1 {
    color: #ee7700;
    font-size: 2.2rem;
    font-weight: 500;
}
.produto-informacoes-area3 {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}
.produto-informacoes-area3  button{
    font-size: 0.9rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
#add {
    background-color: #5c2308;
    color: #ee7700;
    border-radius: 30px;
    padding: 1.2rem;
    transition: all ease 0.3s;
    
}
#add:hover {
    background-color: #371200;
}
.cancela {
    background-color: #ee7700;
    color: #f4ebdc;
    margin-left: 1rem;
    font-size: 1.1rem;
    transition: all ease 0.3s;
}
.cancela:hover {
    color: #5c2308;
}
  
  @keyframes slidein {
    from {
      height: 100%;
      width: 0
    }
  
    to {
     height: 100%;
      width: 700px;
    }
  }
  @keyframes slideout {
    from {
      height: 100%;
      width: 700px
    }
  
    to {
     height: 100%;
      width: 0px;
    }
  }


  .produto-pizza-tamanho {
    margin-top: 1rem;
    width: 100%;
    display: none;
    justify-content: center;
  }
  .produto-pizza-tamanho button {
    border: none;
    padding: 0.6rem 2rem;
    background-color: #bf5900;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  .produto-pizza-tamanho button:hover {
    background-color: #e06b04;
  }
  .pizza-tamanho-pequena {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .pizza-tamanho-grande {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }



/* MODAL CARRINHO ---------------------------------------------------------------------*/
.modal-carrinho {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(196, 102, 35, 0.8);
    display: none;
    align-items: center;
    justify-content: end; 
}
.carrinho {
    width: 700px;
    height: 100vh;
    background-color: #371200;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    animation-duration: 0.8s;
    animation-name: slidein;
    padding: 5%;
    overflow: scroll;
}
.carrinho::-webkit-scrollbar {
    width: 0px;
    height: 0px;               /* width of the entire scrollbar */
  }
  .carrinho-seta {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-around;
  }
  .carrinho-seta h3 {
    color: #f4ebdc;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
  }
  .carrinho-seta h3 span {
    color: #ee7700;
  }
.carrinho-seta button {
    background-color: #371200;
    border: none;
    cursor: pointer;
}
.carrinho-seta a> svg path {
   
    fill: #ee7700;
    transition: all ease 0.3s;
    
}
.carrinho-seta a:hover > svg path {
   
    fill: #f4ebdc; 
}
.carrinho-seta button > svg path {
   
    fill: #ee7700;
    transition: all ease 0.3s;
    
}
.carrinho-seta button:hover > svg path {
   
    fill: #f4ebdc; 
}
.carrinho-seupedido {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ee7700;
    font-size: 1.5rem;
}
.carrinho-item {
    display: flex;
    background-color: #5c2308;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.3rem;
    padding: 1rem;
    margin-top: 20px;
}
.carrinho-item div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrinho-item h2 {
    font-size: 0.9rem;
    color: #f4ebdc;
}
.carrinho-item h3 {
    font-size: 0.9rem;
    color: #471803;
    background-color: #ee7700;
    border-radius: 1rem;
    padding: 5px;
    margin-right: 10px;
}
.carrinho-item h4 {
    color: #ee7700;
    font-weight: 500;
    font-size: 1.3rem;
}
.carrinho-item button {
    background-color: #5c2308;
    border: none;
    padding: 0.3rem;
    border-radius: 1rem;
    margin-left: 2px;
    cursor: pointer;
}
.carrinho-item button span {
   
   color: #ee7700;
    transition: all ease 0.3s;
    cursor: pointer;
}
.carrinho-item button:hover > span {
   
    color: #f4ebdc;
}
.area-adicionar-mais-itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.area-adicionar-mais-itens button {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #ee7700;
    border: none;
    border-radius: 2rem;
    color: #371200;
    font-weight: 600;
    cursor: pointer;
    transform: scale(0.95);
    transition: all ease 0.3s;
}
.area-adicionar-mais-itens button:hover {
    transform: scale(1);
    background-color: #bf5900;
}
.total-itens {
    border-top: 1px solid #ee7700;
    margin-top: 1.5rem;
    padding-top: 1rem ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total-itens h1 {
    font-size: 1.8rem;
    color: #f4ebdc;
    font-weight: 400;
}
.total-itens h2 {
    color: #f4ebdc;
    font-size: 1.8rem;
    font-weight: 400;
}



.show {
    display: flex;
}




/* RESPONSIVIDADE ---------------------------------------------------------------------*/
@media (max-width: 1400px){
    #header {
   
        padding-left: 5%;
        padding-right: 5%;
        
    }
}
@media (max-width: 1200px){
    #header {
        height: 85px;
        padding-left: 10%;
        padding-right: 10%;
        
    }
    #header img {
        height: 45px;
    }
    #header-menu {
        display: none;
    }
    #header-menu-mobile {
        display: flex;
        
    }
    #inicio {
        margin-top: 155px;
        height: 40vh;
       background-image: url('fundo-celular.png');
       background-color: #471803;
        background-size: cover;
        background-position: center;
    }
    #pastel,
    #pizzas,
    #hamburguer {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
      }
      #pastel h1,
      #pizzas h1,
    #hamburguer h1 {
       margin-left: 0px;
      }

}
@media(max-width: 460px) {
    #pastel,
    #pizzas,
    #hamburguer {
        padding: 0%;
          width: 100%;
          
      }
      .pastel-item,
      .pizza-item,
      .hamburguer-item {
        width: calc(100vw - 80px);
        height: 350px;
        background-color: #471803;
        margin-left: 0px;
        margin-right: 20px;
        border-radius: 40px;
    }
    .pastel-list
    .pizzas-list,
    .hamburguer-list {
        
        width: calc(10* (100vw - 20px));
        
    }
}

@media(max-width: 670px){
    
    .produto {
        flex-direction: column;
        width: 95vw;
    }
    .produto-img {
        height: 20vh;
        width: 100%;
        background-color: #f4ebdc;
        border-radius: 40px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .produto-img img {
        width: auto;
        height: 80%;
    }
    .produto-informacoes-area1 {
        width: 100%;
        padding: 1.5rem;
        padding-top: 1.5rem;
    }
    :root {
        font-size: 14px;
        
    }
    .produto-informacoes {
        height: auto;
        width: 100%;
    }
}
